@use './themes';
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

:root {
  --font-family-default: 'Spartan', sans-serif;
  --font-weight-default: 700;

  --transition-theme: 500ms;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-default);
  background-color: var(--clr-background-main);
  transition: background-color var(--transition-theme);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
}
